{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">

   <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'base.css' %}"
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#" style="color:white">GISAPP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
              <a class="nav-item nav-link text-white" href="{% url 'home_url' %}"><i class="fa fa-home"></i>&nbsp HOME</a>
              <a class="nav-item nav-link text-white" href="{% url 'gallery_url' %}"><i class="fa fa-image"></i>&nbsp GALLERY</a>
              <a class="nav-item nav-link text-white" href="{% url 'services_url' %}"><i class="fa fa-wrench"></i>&nbsp SERVICES</a>
              <a class="nav-item nav-link text-white" href="{% url 'weather_url' %}"><i class="fa fa-cloud"></i>&nbsp WEATHER REPORT</a>
              <a class="nav-item nav-link text-white" href="{% url 'location_url' %}"><i class="fa fa-cloud"></i>&nbsp WEATHER OF LOCAITON</a>
              <a class="nav-item nav-link text-white" href="{% url 'contact_url' %}"style="padding-right: 100px;"><i class="fa fa-square-phone"></i>&nbsp CONTACT US</a><br><br><br>
      
              {% if user.is_authenticated %}
      
              <img src="#">
              
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  Hello!, &nbsp{{request.user}}
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'password_change_url' %}">Change Password</a>
                  <a class="dropdown-item" href="{% url 'edit_profile_url' %}">Edit Profile</a>
                  <a class="dropdown-item" href="{% url 'logout_url' %}">Log Out</a>
                  
                </div>
              </div>
      
      
             <!--<a class="nav-item nav-link" href="{% url 'logout_url' %}"><i class="fa fa-lock"></i>&nbsp LOGOUT</a>--> 
      
              {% else %}
              <a class="nav-item nav-link text-white" href="{% url 'login_url' %}" style="padding-left: 500px;"><i class="fa fa-user"></i>&nbsp LOG IN</a>
              <a class="nav-item nav-link text-white" href="{% url 'signup_url' %}"><i class="fa fa-user-plus"></i>&nbsp SIGN UP</a>
              {% endif %}
        </div>
      </nav>
      <br><br><br>

      
        
          <form class="form-inline my-2 my-lg-0" style="padding-left: 1250px;" method="POST">
            {% csrf_token %}
              {{form|crispy}}
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH</button>
          </form>
        <br>

      <div class="container">
        <div class="row md-4">
          {{m|safe}}
        </div>

      </div>
          
      <br><br>
      <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-facebook"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-linkedin"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white" href="https://gisapp.com/">GISAPP</a>
        </div>
        <!-- Copyright -->
      </footer>
    
</body>
</html>